body {
  background-color: rgb(53, 66, 66);
}
.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-size: 50px;
  color: brown;
  font-weight: 600;
}
.text {
  font-size: 24px;
  color: aliceblue;
}
.clock {
  padding: 10px 15px;
  background-color: aqua;
  border-radius: 10px;
}
